<div ng-non-bindable class="pagespace-posts">
    {{#if invalid}}
        <div class="pagespace-posts-invalid">
            {{{invalid}}}
        </div>
    {{/if}}

    {{#each posts}}
        <div class="pagespace-post" data-post-tags="{{this.tags}}">
            <h2 class="post-heading"><a href="{{this.url}}">{{this.title}}</a></h2>
            {{#if this.date}}
                <p class="post-date date">{{formatDate this.date day="numeric" month="long" year="numeric"}}</p>
            {{/if}}
            <div class="post-content {{../postWrapperClass}}">
                {{#each this.includes}}
                    {{{this.html}}}
                {{/each}}
            </div>
        </div>
    {{else}}
        <!-- No posts to display -->
        {{{noPostsHtml}}}
    {{/each}}



</div>