<div ng-non-bindable class="pagespace-posts">
    {{#each data.posts}}
        <div class="pagespace-post">
            <h2 class="post-heading"><a href="{{this.url}}">{{this.title}}</a></h2>
            {{#if this.date}}
                <p class="date">{{formatDate this.date day="numeric" month="long" year="numeric"}}</p>
            {{/if}}
            <div class="{{../data.wrapperClass}}">
                {{#each this.includes}}
                    {{{this.html}}}
                {{/each}}
            </div>
        </div>
    {{/each}}
</div>